body {
    height: 100%;
    width: 100%
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    list-style: none;
    background-color: aqua;
    padding: 5px;
}

nav ul li{
    margin: 12px 15px;
    font-size: 20px;
    color: gray;
}