* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: black;
  color: rgb(53, 237, 53);
}

#text {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  width: 100vw;
}
