* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20vh 0vh;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    color: white;
    border: 2px solid red;
    height: 15vh;
    width: 60vw;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    border-radius: 25px;
}

.btn {
    margin-top: 70px;
    padding: 12px;
    text-transform: uppercase;
    background-color: aqua;
    border-radius: 10px;
}